name: E2E test

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/e2e-test.yaml
      - server/**
      - r-pkg/**
      - tests/**
      - "!**/*.md"
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/e2e-test.yaml
      - server/**
      - r-pkg/**
      - tests/**
      - "!**/*.md"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  e2e:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Install jgd R package
        run: R CMD INSTALL r-pkg
        shell: bash

      - name: Run E2E tests
        run: deno task test
        working-directory: tests
        env:
          ASTRAL_BIN_ARGS: "--no-sandbox --disable-dev-shm-usage"

      - name: Run benchmarks
        run: deno task bench
        working-directory: tests
        continue-on-error: true
