name: R CMD check

on:
  push:
    branches:
      - main
    paths:
      - r-pkg/**
      - .github/workflows/r-pkg-check.yaml
  pull_request:
    branches:
      - main
    paths:
      - r-pkg/**
      - .github/workflows/r-pkg-check.yaml
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

defaults:
  run:
    shell: bash

jobs:
  R-CMD-check:
    name: R CMD check (${{ matrix.os }} - R ${{ matrix.r }})
    runs-on: ${{ matrix.os }}
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        r:
          - devel
          - "4.1"
        include:
          - os: macos-latest
            r: release
        exclude:
          - os: windows-latest
            r: devel

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.r }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          working-directory: r-pkg
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          working-directory: r-pkg
          upload-snapshots: true
          build_args: 'c("--no-manual","--compact-vignettes=gs+qpdf")'
          error-on: '"warning"'
